body {
  font-size: 16px;
  background: var(--lightgray);
  font-family: 'Karla', sans-serif;
}


:root {
  /* Primary Colors */
  --moderatecyan: hsl(179, 62%, 43%);
  --cyan: hsl(176, 52%, 48%);
  --brightyellow: hsl(71, 73%, 54%);
  /* Neutral Colors */
  --lightgray: hsl(204, 43%, 93%);
  --grayblue: hsl(218, 22%, 67%);
}

#community {
  display: grid;
  margin-top: 12%;
  margin-left: 25%;
  margin-right: 25%;
  grid-template-areas: "comm comm"
                        "sub us";
  grid-template-columns: repeat(2, 1fr);
  border-radius: 10px;
  box-shadow:  2px 1px 3px var(--grayblue);
}

.community {
  padding: .8rem 2.5rem;
  padding-bottom: 2rem;
  grid-area: comm;
  border-radius: 5px;
  background: #fff;

}
.community h2{
  color: var(--cyan);
}
.community h3{
  color: var(--brightyellow);
}
.community p{
  color: var(--grayblue);
}

.bottom {
  padding: .8rem 2.5rem;
  color: var(--lightgray);
  padding-bottom: 2rem;
}
.bottom h4{
  color: #fff;
  font-weight: 700;
}

.subscribe {
  background: var(--moderatecyan);
  grid-area: sub;
  border-radius: 0px 0px 0 8px;
}
.subscribe span{
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  opacity: 100%;
}
.subscribe span .per{
  font-size:  16px;
  opacity: 80%;
}
.subscribe a{
  text-decoration: none;
  margin-top: .8rem;
  margin-left: .6rem;
  padding: .6rem 4.9rem;
  background: var(--brightyellow);
  color: var(--lightgray);
  border: 1px solid var(--brightyellow);
  border-radius: 5px;
  box-shadow: 2px 1px 3px var(--grayblue);
}

.why-us{
  line-height: 1.3;
  background: var(--cyan);
  grid-area: us;
  border-radius: 0px 0px 5px 0px;
}
.why-us ul{
  padding-left: 0;
  list-style-type: none;
}


@media (max-width:375px) {
  #community{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
  }
  .community{
    border-radius: 5px 5px 0 0;
  }
  .subscribe{
    border-radius: 0px;
  }
  .why-us{
    border-radius: 0 0 5px 5px;
  }
}

@media (max-width:640px){
  #community{
    margin-left: 10%;
    margin-right: 15%;
  }
  .subscribe button{
    margin-left: 0;
    padding: .6rem 2.4rem;
  }
}
@media (max-width:596px) {
  #community{
    display: flex;
    flex-direction: column;
  }
  .subscribe{
    border-radius: 0;
  }
  .why-us{
    border-radius: 0 0 5px 5px;
  }
}
@media (max-width:1104px){
  .subscribe button{
    margin-left: 0;
    padding: .6rem 4.4rem;
  }
}













.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
