*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  background: var(--lightgray);
  font-family: 'Karla', sans-serif;
  min-height: 100vh;
}


:root {
  /* Primary Colors */
  --moderatecyan: hsl(179, 62%, 43%);
  --cyan: hsl(176, 52%, 48%);
  --brightyellow: hsl(71, 73%, 54%);
  /* Neutral Colors */
  --lightgray: hsl(204, 43%, 93%);
  --grayblue: hsl(218, 22%, 67%);
}

#community{
  /* border: 1px solid #777; */
  width: 60%;
  margin: .7rem auto;
  margin-top: 10rem;
}

.community{
  background-color: #fff;
  padding: 2.2rem 2.2rem;
  box-shadow: 0 0 10px 5px rbg(0,0,0,0.3);
  border-radius: 5px 5px 0 0;
}
.community h2{
  padding-bottom: 1.5rem;
  color: var(--cyan);
  font-weight: bold;
}
.community h3{
  padding-bottom: .8rem;
  color: var(--brightyellow);
}
.community p{
  color: var(--grayblue);
  padding: .4rem .4rem;
  line-height: 1.5;
}

.bottom{
  border-radius: 0 0 5px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
}
.subscribe{
  padding: 2.2rem 2.2rem;
  background-color: var(--moderatecyan);
}
.bottom h4{
  padding-bottom: .8rem;
  font-size: 1.2rem;
}
.subscribe span{
  padding-right: .5rem;
  float: left;
  font-size: 1.6rem;
}
.subscribe h5{
  padding: .6rem 3rem;
  opacity: .5;
}
.subscribe p{
  padding: .2rem 0;
  color: var(--lightgray);
}
.subscribe a{
  text-decoration: none;
  color: #fff;
  text-align: center;
  border: 1px solid (--brightyellow);
  padding: .6rem 2.2rem;
  width: 20%;
  margin-top: 1.4rem;
  position: absolute;
  background-color: var(--brightyellow);
  border-radius: 5px;
}
.subscribe a:hover{
  background-color: hsl(71, 73%, 44%);
}
.why-us{
  padding: 2.2rem 2.2rem;
  background-color: var(--cyan);
}
.why-us ul{
  list-style-type: none;
  color: var(--lightgray);
}

@media(max-width:691px){
  #community{
    width: 80%;
    margin-top: 2.2rem;
  }
  .bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .subscribe p{
    padding-bottom: 1.2rem;
  }
  .subscribe a{
    position: relative;
    margin-top: 4rem;
  }
  .why-us ul{
    font-size: .9rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
